.navbar {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
  }
  .logo-desktop {
    img {
      width: 110px;
    }
  }
  .search-features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    div {
      padding: 10px;
    }
    .location-btn {
      @include separator-navbar;
    }
    .day-btn {
      @include separator-navbar;
    }
    .travelers-btn {
      @include flex-center;
      span {
        padding-right: 10px;
      }
    }
  }
  .user-features {
    display: flex;
    justify-content: center;
    align-items: center;
    a,
    a:visited {
      padding: 12px;
      color: #222222;
      font-family: $font-2;
      font-size: 14px;
      &:hover {
        background: #f7f7f7;
        border-radius: 30px;
      }
    }
    .language-icon {
      @include flex-center;
      padding: 10px;
      svg {
        width: 80%;
      }
      &:hover {
        background: #f7f7f7;
        border-radius: 30px;
      }
    }
    .user-account-btn {
      @include flex-center;
      padding: 6px;
      border: 1px solid #7171715f;
      border-radius: 30px;
      :nth-last-child(2) {
        margin-right: 10px;
        width: 20px;
      }
      :nth-last-child(1) {
        font-size: 30px;
        color: #717171;
      }
    }
  }
}
